<footer>
  <div id = "footerBackground">
      <div class = "footerbox">
        <div id = "iconContainer">
          <a href = "https://www.linkedin.com/in/caroline-win-33527913">
            <img class = "iconsHeader" src="/assets/linkedin.svg">
          </a>
          <a href = "https://twitter.com/caroline_win">
            <img class = "iconsHeader" src="/assets/twitter.svg">
          </a>
          <a href = "https://www.instagram.com/carothejelly/">
            <img class = "iconsHeader" src="/assets/instagram.svg">
          </a>
        </div>
        <p id = "copyright">&copy; {{ 'now' | date: '%Y' }} {{ site.title }}</p>
      </div>
      <a id="backToTop"><i class="material-icons">keyboard_arrow_up</i></a>
    </div>
</footer>
