<footer>
  <div id = "footerBackground">
      <div class = "footerbox">
        <div id = "iconContainer">
          <a href = "https://www.linkedin.com/in/caroline-win-33527913" onclick="gtag('event', 'click-linkedin', {'event_category': 'footer', 'event_label': 'linkedin'});">
            <img class = "iconsHeader" src="/assets/linkedin.svg">
          </a>
          <a href = "https://twitter.com/caroline_win" onclick="gtag('event', 'click-twitter', {'event_category': 'footer', 'event_label': 'twitter'});">
            <img class = "iconsHeader" src="/assets/twitter.svg">
          </a>
          <a href = "https://www.instagram.com/carothejelly/" onclick="gtag('event', 'click-instagram', {'event_category': 'footer', 'event_label': 'instagram'});">
            <img class = "iconsHeader" src="/assets/instagram.svg">
          </a>
        </div>
        <p id = "copyright">&copy; {{ 'now' | date: '%Y' }} {{ site.title }}</p>
      </div>
      <a id="backToTop" onclick="topFunction()"><i class="material-icons">keyboard_arrow_up</i></a>
    </div>

    <script src="/assets/backtotop.js"></script>

</footer>
