<div class="logoBlock">
    <a href = "{{ "/" | relative_url }}" class="logolink">
        <h2 id = "logo">{{ site.title | escape }}</h2>
        <p class = "small">{{ site.role | escape }}</p>
    </a>
</div>

<nav class="navBar">
  <ul>
  <li class = "primaryNav">
    {% if page.title == "Portfolio" %}
    <a class = "selected primaryNavItems" href = "/index.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'portfolio'});"> PORTFOLIO </a>
    {% else %}
    <a class = "unselected primaryNavItems" href = "/index.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'portfolio'});"> PORTFOLIO </a>
    {% endif %}
  </li>

  <li class = "primaryNav">
    {% if page.title == "About" %}
    <a class = "selected primaryNavItems" href = "/about.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'about'});"> ABOUT </a>
    {% else %}
    <a class = "unselected primaryNavItems" href = "/about.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'about'});"> ABOUT </a>
    {% endif %}
  </li>

  <li class = "primaryNav">
    {% if page.title == "Resume" %}
    <a class = "selected primaryNavItems" href = "/resume.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'resume'});"> RESUME </a>
    {% else %}
    <a class = "unselected primaryNavItems" href = "/resume.html" onclick="gtag('event', 'click', {'event_category': 'nav', 'event_label': 'resume'});"> RESUME </a>
    {% endif %}
  </li>


  <!-- <li class = "primaryNav">
    {% if page.title == "Blog" %}
    <a class = "selected primaryNavItems " href = "/blog.html"> BLOG </a>
    {% else %}
    <a class = "unselected primaryNavItems" href = "/blog.html"> BLOG </a>
    {% endif %}
  </li> -->


  </ul>
</nav>
