---
---

@import "minima";

/* CONTENTS -
1. GENERAL - Backgrounds, Columns, Spaces
2. HEADER - Logo, Sublogo, Navbar
3. PORTFOLIO HOME - Selected Work
4. OTHER PAGES - About, Resume, Blog
5. CASE STUDIES - Projects, Next Project
6. FOOTER
7. TYPOGRAPHY
8. RESPONSIVE DESKTOP LARGE
9. RESPONSIVE DESKTOP MEDIUM
10. RESPONSIVE TABLET AND PHONE
 */

/* 1. GENERAL*/
/* ----------------------------------------------------------- */
html {
  background-color: #147DB2;
  font-family: "Assistant", "Verdana", serif;
  color: #4A4A4A;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Backgrounds and Containers */
/* ---------------------------------- */
.grayBackground {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f1f1f1;
}

.whiteBackground {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: white;
}

.featureBackground {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  color: white;
  height: 550px;
  width: 100%;
  position: relative;
}

.featureBox {
  background-color: rgba(0,0,0,0);
  position: relative;
  width: 100%;
  height: 100%;
}

.containernarrow {
  width: 100%;
  max-width: 900px;
  margin-left: calc(50% - 450px);
  margin-right: calc(50% - 450px);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: yellow; */
  height: 100%;
}

.containerwide {
  width: 86%;
  margin: 0 7% 0 7%;
  padding: 0;
  /* overflow-y: auto;
  overflow-x: hidden; */
  /* background-color: yellow; */
}

.containerwide:before {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* Columns */
/* ---------------------------------- */
.third {
    width: calc(33% - 64px);
    display: inline-block;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 32px 0 32px;
    /* background-color: yellow; */
}

.thirdtext {
    width: calc(33% - 24px);
    display: inline-block;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0 24px 0 0px;
    /* background-color: yellow; */
}

.halfleft {
    width: calc(50% - 36px);
    display: inline-block;
    margin: 0 32px 0 0;
    vertical-align: middle;
    /* background-color: yellow; */
}

.halfright {
  width: calc(50% - 36px);
  display: inline-block;
  margin: 0 0 0 32px;
  padding: 0;
  vertical-align: middle;
  /* background-color: yellow; */
}

.half {
    width: calc(50% - 24px);
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: top;
}

.twothird {
    width: calc(66% - 24px);
    display: inline-block;
    /* background-color: orange; */
    margin: 0 24px 0 0;
    vertical-align: top;
}

/* Space */
/* ---------------------------------- */
.mediumspace {
  height: 48px;
}

.largespace {
  height: 120px;
}

/* Miscellaneous */
/* ---------------------------------- */
button {
  background-color: #E1457A;
  padding: 10px 24px 12px 24px;
  margin: 32px 3px 32px 3px;
  border: none;
  color: white;
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 40px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-out;
}

button:hover {
  transform: translate(0, -2px);
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

video {
  width: 100%;
  height: auto;
}

/* 2. HEADER - Logo, Sublogo, Navbar */
/* ----------------------------------------------------------- */
header {
  background-color: transparent;
  position: relative;
  width: calc(100% - 52px);
  margin: 0 32px 0 20px;
  top: 0%;
  height: 80px;
}

/* Project Page */
.projectheader {
  color: white;

  .unselected:visited {
    color: white;
  }

  #logo {
    color: white;
  }

  .small {
    color: white;
  }

  .primaryNavItems {
    color: white;
  }
}

.headerwhitecontainer {
  background-color: white;
  height: 80px;
  margin: 0;
  width: 100%;
  position: relative;
}

/* Logo */
/* ---------------------------------- */
.logoBlock {
    text-align: left;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.icon {
  display: inline-block;
  height: 40px;
  padding: 10px 10px 0 0;
}

#logo {
  font-family: "Pacifico", "Verdana", sans-serif;
  color: #147DB2;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  line-height: 32px;
}

/* Sublogo */
.small {
  font-family: "Assistant", "Verdana", sans-serif;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 0;
  padding: 0;
}

/* Navbar */
/* ---------------------------------- */
.navBar {
  text-align: right;
  display: inline-block;
  margin: 0;
  float: right;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translateY(-50%);
}

.navBar li {
  opacity: 1.0;
}

a:hover {
  text-decoration: none;
}

.selected {
    /* font-size: 18px; */
    font-weight: 600;
    color: #147DB2;
    opacity: 1.0;
}

.selected:hover {
  font-weight: 600;
  color: #147DB2;
}

.unselected:visited {
  color: #4A4A4A;
  font-weight: 400;

}

.primaryNav {
    display: inline;
    color: #4A4A4A;
    // transition: all 0.3s ease-out;
    font-size: 16px;
    font-weight: 300;
    font-family: "Montserrat", "Verdana", sans-serif;
    margin: 0 0 0 24px;
}

.primaryNavItems {
    color: #4A4A4A;
    text-transform: uppercase;
    // -webkit-transition: all 0.3s linear;
    // -moz-transition: all 0.3s ease;
    // -ms-transition: all 0.3s ease;
    // -o-transition: all 0.3s ease;
    // transition: all 0.3s ease;

}

.primaryNavItems:hover {
    /* font-weight: 600; */
    opacity: 1;
    /* transition: all 0.3s ease-out; */
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
}

/* 3. PORTFOLIO HOME - Selected Work */
/* ----------------------------------------------------------- */
/* Intro */
/* ---------------------------------- */
.introcontainer {
  background-color: white;
  height: 400px;
  margin: 0;
  animation-name: hellobox;
  animation-duration: 2s;
  width: 100%;
  position: relative;
}

.introtext {
  animation-name: hellotext;
  animation-duration: 2s;
  position: absolute;
  text-align: center;
  top: 60%;
  transform: translateY(-60%);
  width: 900px;
  margin-left: calc(50% - 450px);
  margin-right: calc(50% - 450px);
}

@keyframes hellobox {
  0% {height: 100px;}
  60% {height: 400px;}
}

@keyframes hellotext {
  0% {opacity: 0.0;}
  15% {opacity: 0.0;}
  60% {opacity: 1.0;}
}

.hello { /* h1 */
  font-size: 26px;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #4A4A4A;
  line-height: 40px;
}

.superlogo { /* span */
  font-size: 54px;
  font-family: "Pacifico", "Verdana", sans-serif;
  color: #147DB2;
  font-weight: 400;
  margin: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.hellosubheader { /* p */
  font-family: "Assistant", "Verdana", sans-serif;
  font-size: 24px;
  margin: 12px 0 40px 0;
}

/* Selected Work */
/* ---------------------------------- */
.homeImg {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.hometiletext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 32px);
  padding-bottom: 6px;
}

.hometitle {
  font-size: 22px;
  margin: 0;
  /* color: #147DB2; */
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 400;
  opacity: 0.8;
  text-align: center;
  padding-bottom: 4px;
  line-height: 24px;
}

.projecttile {
  width: calc(33% - 40px);
  background-color: white;
  display: inline-block;
  margin: 20px;
  /* border-radius: 3px; */
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  // transition: all .3s ease-out;
  border-radius: 5px;
}

.projecttile:hover {
  transform: translate(0, -3px);
  /* opacity: 0.8; */
  box-shadow: 1px 7px 15px  5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.projectText {
  /* margin: 16px 20px 16px 20px; */
  padding: 12px 16px 12px 16px;
  display: border-box;
  height: 60px;
  /* overflow-y: hidden; */
  position: relative;
  text-align: center;
}

.projectImg {
  border: 1px solid rgba(0,0,0,0.5);
  width: 100%;
  padding: 0;
}

.projectImgNarrow {
  border: 1px solid rgba(0,0,0,0.5);
  width: calc(100% - 2px);
  margin: 0;
  padding: 0;
}

.projectDesc {
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);;
  background-color: #F5F5F5;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  margin-right: 12px;
}

/* 4. OTHER PAGES - About, Resume, Blog */
/* ----------------------------------------------------------- */
.resume {
  width: 95%;
  max-width: 900px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-out;
}

.resume:hover {
  transform: translate(0, -3px);
  box-shadow: 1px 7px 15px 5px rgba(0, 0, 0, 0.3);
}

.blogtile {
  width: 100%;
  background-color: white;
  display: inline-block;
  margin-bottom: 20px;
  /* border-radius: 3px; */
  // box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  // transition: all .3s ease-out;
  // border-radius: 5px;
  padding: 10px;
}

.tag {
  background-color: #E2EEF4;
  color: #147DB2;
  padding: 2px 8px 2px 8px;
  width: auto;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  margin-top: 16px;
  border-radius: 4px;
}

.tag img {
  height: 400px;
  width: auto;
}

/* CASE STUDIES - Projects, Next Project*/
/* ----------------------------------------------------------- */
.container {
  width: 100%;
  max-width: 1024px;
  margin-left: calc(50% - 512px);
  margin-right: calc(50% - 512px);
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: yellow; */
  height: 100%;
}

.feature {
  height: 500px;
  width: 100%;
  transition: all 0.3s ease-out;
  background-color: #4A4A4A;
  /* background-attachment: fixed; */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.featuretext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 900px;
  margin-left: calc(50% - 450px);
  margin-right: calc(50% - 450px);
  margin-top: 0;
  margin-bottom: 0;
}

.objectivetext {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

.designImg {
  width: 96%;
  margin: 16px 2% 16px 2%;
  box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.3);
  /* border: 1px solid gray; */
}

.designcaption {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 4px;
}

.date {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 0 16px 16px 0;
  display: inline-block;
}

/* Previous and Next Projects */
/* ---------------------------------- */
.right {
  text-align: right;
}

.prevnext {
  font-size: 16px;
  font-family: "Montserrat", "Verdana", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  vertical-align: middle;
  text-transform: uppercase;
}

.prevnextlink {
  font-size: 24px;
  font-family: "Montserrat", "Verdana", sans-serif;
  color: #147DB2;
  opacity: 0.8;
  vertical-align: middle;
}

.prevnextlink:hover {
  opacity: 0.6;
  /* text-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2); */
}

/* FOOTER */
/* ----------------------------------------------------------- */
#footerBackground {
    position: relative;
    background-color: #147DB2;
    height: 140px;
    width: 100%;
    bottom: 0;
}

footer {
  position: relative;
  text-align: center;
}

.footerbox {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 600px;
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
}

#iconContainer {
    text-align: center;
    margin: 16px 20px 8px 0;
    width: calc(100% - 20px);
}

.iconsHeader{
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

#copyright {
    color: white;
    margin-top: 0;
    padding-top: 2px;
    text-align: center;
    font-size: 14px;
    opacity: 0.9;
    font-family: "Assistant", "Verdana", sans-serif;
    font-weight: 300;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
    // opacity: 0;
}

#backToTop i {
  color: #4A4A4A;
  margin: 0;
  position: relative;
  display: block;
  font-size: 48px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}

#backToTop:hover i {
    /* top: 12px; */
    transform: translate(0, -4px);
    opacity: 1;
}


/* TYPOGRAPHY */
/* ----------------------------------------------------------- */
h1 { /* titles */
  font-size: 40px;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: 800;
  color: white;
}

h2 { /* key insight */
  font-size: 36px;
  margin: 0 0 12px 0;
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 600;
  /* color: #147DB2; */
  color: #4A4A4A;
  line-height: 44px;

}

.h2subheader {
  font-family: "Assistant", "Verdana", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.preheaderblue {
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", "Verdana", sans-serif;
  color: #147DB2;
  margin-bottom: 8px;
}

.preheaderlightL {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #4A4A4A;
  opacity: 0.7;
  margin: 0 0 24px 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.preheaderlightS {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #4A4A4A;
  opacity: 0.7;
  margin: 0;
  padding: 0;
  text-align: center;
}

h3 { /* e.g. my role, tile header */
  /*margin-top: 32px;*/
  font-size: 28px;
  /* margin: 16px 0 12px 0; */
  padding: 0;
  margin: 0 0 12px 0;
  color: #4A4A4A;
  font-weight: 600;
  font-family: "Assistant", "Verdana", sans-serif;
}

.h3subheader {
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 300;
  color: #4A4A4A;
  font-size: 14px;
}

.h4third {
  font-size: 18px;
  opacity: 0.7;
  font-weight: 200;
  font-family: "Montserrat", "Verdana", sans-serif;
  text-align: left;
}

h4 { /* tiny capital letters */
  font-size: 18px;
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 300;
  text-align: center;
}

p {
  font-size: 22px;
  font-weight: 300;
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 0.7;
  margin: 0;
}

li {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 300;
  font-family: "Assistant", "Verdana", sans-serif;
  font-weight: 0.7;
}

a {
  text-decoration: none;
}

hr {
  /* margin: 80px auto 60px auto; */
  width: 50px;
  align: center;
  display: block;
  margin: 36px auto 24px auto;
  border-style: inset;
  border-width: 1px;
}

.quote {
  font-size: 28px;
  font-family: "Assistant", "Verdana", sans-serif;
  font-style: italic;
  text-align: center;
  color: #147DB2;
  margin-bottom: 16px;
  line-height: 36px;
}

strong {
  font-weight: 600;
}

.objectivetext strong {
  font-weight: 700;
}

.number {
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-right: 16px;
  color: #6A1A41;
}

.numbertextsmall {
  font-size: 16px;
  display: inline-block;
  font-weight: 300;
  margin-top: 4px;
}

.numbertext {
  vertical-align: top;
  margin-top: 6px;
  display: inline-block;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
}

/* RESPONSIVE DESKTOP LARGE */
/* ----------------------------------------------------------- */
@media screen and (max-width: 1148px){
  /* 1. GENERAL */
  .containernarrow {
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
    max-width: 100%;
  }

  .containerwide {
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
    max-width: 100%;
  }

  .third {
    width: calc(33% - 4px);
    margin: 0;
  }

  .thirdtext {
    width: calc(33% - 32px);
  }

  .largespace {
    height: 72px;
  }

  /* 3. PORTFOLIO HOME */
  .introcontainer {
    height: 300px;
    animation-name: hellobox;
    animation-duration: 2s;
  }

  .introtext {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    top: 65%;
  }

  @keyframes hellobox {
    0% {height: 100px;}
    60% {height: 300px;}
  }

  .projecttile {
    width: calc(50% - 44px);
  }

  /* 5. CASE STUDIES */
  .featuretext {
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
    max-width: 100%;
  }

  .designImg {
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
  }

}

/* RESPONSIVE DESKTOP MEDIUM */
/* ----------------------------------------------------------- */
@media screen and (max-width: 948px){
  /* 1. GENERAL */
  .containernarrow {
    width: calc(100% - 108px);
    margin-left: 54px;
    margin-right: 54px;
  }

  .containerwide {
    width: calc(100% - 108px);
    margin-left: 54px;
    margin-right: 54px;
  }

  .third {
    width: calc(33% - 4px);
    margin: 0;
  }

  /* 3. PORTFOLIO HOME */
  .projecttile {
    width: calc(50% - 44px);
  }

  /* 5. CASE STUDIES */
  .featuretext {
    width: calc(100% - 108px);
    margin-left: 54px;
    margin-right: 54px;
  }

  .designImg {
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100% - 64px);
  }
}

/* RESPONSIVE TABLET AND PHONE */
/* ----------------------------------------------------------- */

@media screen and (max-width: 800px){
  /* 1. GENERAL */
  /* ------------------------------- */
  .featureBackground {
    height: auto;
  }

  .featureBox {
    padding: 24px 0 36px 0;
    background-color: rgba(0,0,0,0.3);
  }

  .containernarrow {
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
  }

  .containerwide {
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 0;
    padding: 0;
  }

  .mediumspace {
    height: 32px;
  }

  .largespace {
    height: 54px;
  }

  .twothird {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .third {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .thirdtext {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .half {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .halfleft, .halfright {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
    margin-bottom: 40px;
  }

  /* 2. HEADER */
  /* ------------------------------- */
  header {
    /* padding-top: 32px; */
    margin: 16px 0 16px 0;
    width: 100%;
    }

  .logoBlock {
    display: block;
    position: static;
    text-align: center;
    top: 0%;
    transform: none;
  }

  .navBar {
    display: block;
    text-align: center;
    display: block;
    position: static;
    margin-top: 24px;
    top: 0%;
    left: 50%;
    transform: translateX(0) translateY(0%);
    float: none;
  }

  .navBar ul {
    padding-left: 0;
  }

  .primaryNav {
    margin-left: 12px;
    margin-right: 12px;
  }

  .headerwhitecontainer {
    height: auto;
    padding: 24px 0 32px 0;
  }

  /* 3. PORTFOLIO HOME */
  /* ------------------------------- */
  .hello {
    font-size: 18px;
    line-height: 26px;
  }

  .superlogo {
    font-size: 44px;
    line-height: 48px;
  }

  .hellosubheader {
    font-size: 22px;
  }

  .projecttile {
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
  }

  /* 5. CASE STUDIES */
  /* ------------------------------- */
  .featuretext {
    position: static;
    margin-top: 48px;
    transform: none;
    text-align: center;
  }

  .designImg {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .projectImg {
    width: calc(100% - 2px);
    margin-top: 0;
  }

  .right {
    text-align: left;
    margin-top: 24px;
  }

  /* 7. TYPOGRAPHY */
  /* ------------------------------- */
  h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .h2subheader {
    font-size: 20px;
    font-weight: 400;
  }

  .objectivetext {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
}
