<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main>
    <div class="headerwhitecontainer">
      <header>{%- include header.html -%}</header>
    </div>

    <div class="grayBackground">
      <div class="containernarrow" style="text-align: center;">
        <h2 class="preheaderlightL">RESUME</h2>
        <a href="{{ page.file }}" onclick="gtag('event', 'click-resumeimg', {'event_category': 'resume', 'event_label': 'resumeimg'});"><img src="{{ page.image }}" class="resume" alt="resume"></a><br>
        <a href="{{ page.file }}" onclick="gtag('event', 'click-resumebutton', {'event_category': 'resume', 'event_label': 'resumebutton'});"><button>View PDF of Resume</button></a>
      </div>
  </div>





  </main>

  {%- include footer.html -%}

</body>

</html>
